@charset "UTF-8";

.banner {
    background: var(--menu-item);
    color: var(--branco);
    align-items: center;
    text-align: center;
    padding: 2.5rem 2rem;
}

.banner__titulo {
    font-size: 1.3rem;
}

.banner__texto {
    margin: 1rem 0;
}

.banner__pesquisa {
    background-color: transparent;
    border: 1px solid var(--branco);
    color: var(--branco);
    border-radius: 24px;
    padding: 1rem;
    width: 100%;
}

.banner__pesquisa::placeholder {
    font-family: var(--font-principal);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: var(--branco);
    background: url(../images/lupa.svg) no-repeat;
    background-position: 0.4rem;
}