@charset "UTF-8";

.carrossel__titulo {
    color: var(--menu-titulo);
    background-color: var(--branco);
    text-align: center;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 700;
    padding: 1rem 0 0.5rem 0;
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev, .swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: 0.5rem;
}

.card {
    background-color: #FFFFFF;
    padding: 1.2rem;
}

.card__descricao {
    display: flex;
    justify-content: space-between;
}

.card__botoes {
    display: flex;
    justify-content: space-between;
}