@charset "UTF-8";

.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 1rem 0 0;
}

.container__botao {
    display: none;
}

.cabecalho__menu-hamburguer {
    width: 48px;
    height: 48px;
    background-image: url(../images/menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 63vw;
}

.container__botao:checked~.lista-menu {
    display: block;
}

.lista-menu__titulo, .lista-menu__item {
    padding: 1rem;
    background-color: var(--branco);
    list-style-type: none;
} 

.lista-menu__titulo {
    color: var(--menu-titulo);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--menu-item);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    text-decoration: none;
}

