@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
@import url("../styles/header.css");
@import url("../styles/banner.css");
@import url("../styles/carrossel.css");

:root {
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
    --menu-titulo: #EB9B00;
    --menu-item: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --font-principal: 'Poppins', sans-serif;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--font-principal);
    font-size: 1rem;
    font-weight: 400;
}

